// GENERAL PROPERTIES

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
    font-family: 'Archivo', sans-serif;
    font-family: 'Old Standard TT', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

$archivo: 'Archivo', sans-serif;
$oldStd: 'Old Standard TT', serif;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-size: 1em;
   position: relative;
   font-size: 0.94em;
   z-index: 2;
//    font-family: 'Roboto', sans-serif;
//    font-family: 'Old Standard TT', serif;
}



// COLORS
$black_std: #222222;
$grey_dark: #393939;
$grey_dark_2: #292929;
$grey: #777777;
$grey_light: #cacaca;
$grey_light_2: #DBDBDB;
$grey_light_3: #F8F8F8;
$brown: #BDAC8D;
$brown_light: #CCC2BE;
$hm: #F7F7F7;

// FONT SIZES
$main_titles_d: 4.5rem;
$main_subtitles_d: 1.6rem;

$desktop: 1024px;


.flex{
    display: flex;
}
.bold{
    font-weight: bold;
}
.mBottom15{
    margin-bottom: 15px;
}
.colorBrown{
    color: $brown;
}
.colorGreyDark{
    color: $grey_dark;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style-type: none;
}

.hide_mobile_on{
    display: none;  

    @media only screen and (min-width: $desktop) {
       display: block;
    }
}

.hide_mobile_off{
    display: block;  

    @media only screen and (min-width: $desktop) {
        display: none;
    }
}

.button{
    color: #fff;
    padding: 12px 24px;
    font-size: 0.7em;
    border: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-family: $archivo;

    @media only screen and (min-width: $desktop) {
        color: #fff;
        background-color: transparent;
        font-size: 1.7em;
        padding: 17px 50px;
        margin-bottom: 30px;
    }

    &.button_brown{
        background-color: $brown;  
        border: 1px solid #ffffff6e;

        &:hover{
            // color: $brown;  
            filter: brightness(110%);
            transform: scale(1.025);
        }
    }
   
    &.button_grey{
        background-color: $grey_dark;
        border: 1px solid #ffffff6e;

        &:hover{
            filter: brightness(120%);
            transform: scale(1.025);
        }
    }

    &.button_black{
        background-color: #111111;
        border: 1px solid #ffffff6e;

        &:hover{
            filter: brightness(110%);
            transform: scale(1.025);
        }
    }
}

body, html{
   // position: relative;
   margin: 0;
   padding: 0;
   width: 100%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

// HEADER
header{
    background-color: $grey_dark;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 999;
    @media only screen and (min-width: $desktop) {
        padding: 10px 20px;
        width: 99.1vw;
        margin: 0;
    }
 
    nav{
        position: relative;
        // width: 50%;
        @media only screen and (min-width: $desktop) {
            width: 100%;
            margin: 0;
        }

        .bars{
            i{
                font-size: 2em;
                display: block;
                @media only screen and (min-width: $desktop) {
                    display: none;
                }
            }
        }

        .drop_down{
            visibility: hidden;
            position: absolute;
            top: 210%;
            left: -70%;
            background-color: $grey_light;
            width: 95vw;
            padding: 15% 20px;
            overflow-x: hidden;
            width: 0;
            @media only screen and (min-width: $desktop) {
                visibility: visible;
                position: relative;
                display: flex;
                justify-content: space-between;
                top: 0;
                left: 0;
                padding: 0;
                padding-left: 5%;
                width: 100%;
                font-size: 1em;
                background-color: $grey_dark;
                color: #fff;
            }

            &.active{
                visibility: visible;
                display: flex;
                flex-direction: column;   
                align-items: center;  
                transition: 0.4s;      
                overflow-x: visible; 
                width: 95vw;
                @media only screen and (min-width: $desktop) {
                    visibility: hidden;
                    width: 0vw;
                }
            }

            ul{
                display: flex;           
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 0;
                overflow: hidden;
                list-style-type: none; 
                font-weight: bold;
                font-family: $archivo;
                @media only screen and (min-width: $desktop) {
                    flex-direction: row;
                    overflow: hidden;
                    min-width: 32%;
                    
                }
    
                &.active{
                    overflow: auto;
                    width: 100%;
                    transition: 0.4s;
                }

                li{
                    background-color: $brown;
                    width: 100%;             
                    margin-top: 10px;     
                    @media only screen and (min-width: $desktop) {
                        width: 100%;
                        background-color: transparent !important;
                        margin: 0;
                        width: 20%;
                        font-size: .7em;
                        height: 55%;
                    }
                    
                    a{
                        background-color: transparent !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        padding: 12px 30px;
                        @media only screen and (min-width: $desktop) {
                            margin: 0 !important;
                            padding: 15px 40px !important;
                            height: 100%;
                            text-align: center;
                            border-radius: 8px;

                            &:hover{
                                background-color: $grey !important;
                                // color: $black_std;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .container_logoH_nav{
                letter-spacing: 2px;
                font-size: 26px;        
                display: none;
                // margin-left: auto;
                // margin-right: auto;
                font-family: $archivo;
                @media only screen and (min-width: $desktop) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                    padding-left: 8%;
                }
                

                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .logoH{
                        font-size: 40px;
                        font-weight: bold;
                        padding: 8px 14px;
                        background-color: #fff;
                        color: $grey_dark;
                        text-align: center;
                        margin-right: 15px;
                    }
                }
                
            }
        }
         
        .container_headerInfo{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            color: $grey_dark;
            font-weight: bold;
            width: 100%;
            margin-top: 30px;
            font-size: 1.5em;
            @media only screen and (min-width: $desktop) {
                color: #fff;
                flex-direction: row;
                justify-content: flex-end;
                width: 40%;
                font-size: 1.4em;          

                .container_headerInfo_phone, .container_headerInfo_email{
                    display: flex;                 
                    
                    &:first-child{
                        margin-right: 20px;
                    }
                }
                
                .fakeIcon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    border-radius: 6px;
                    width: 24px;
                    height: 24px;
                    // border: 1px solid red;
                    background-color: $brown;
                    margin-right: 12px;
                    margin-top: 10px;
        
                    .fakeIcon_top{
                        position: absolute;
                    }
                }
                
                .info{
                    div:first-child{
                        margin-bottom: 2.5px;
                    }
                }
            }

            .info_container{
                display: flex;
                flex-direction: row-reverse;
                margin-bottom: 20px;

                .info{
                    margin-right: 20px;

                    .title{
                        font-size: 1em;
                        margin-bottom: 6px;
                        font-weight: bold;
                        font-family: $archivo;
                    }

                    .data{
                        font-size: 0.9em;
                        letter-spacing: 1px;
                        font-family: $oldStd;
                    }
                }
            }
        }   
        
        
    }// nav
 
    .container_logoH{
        letter-spacing: 2px;
        font-size: 26px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // margin-left: auto;
        // margin-right: auto;
        @media only screen and (min-width: $desktop) {
            display: none;
        }
 
        .logoH{
            font-size: 40px;
            font-weight: bold;
            padding: 8px 12px;
            background-color: #fff;
            color: $grey_dark;
            margin-right: 15px;
            font-family: $archivo;
            .bold{
                font-weight: bold;
            }
        }
    }
}

// ANCHOR TO TOP
.anchorTop {
    display: none;
    @media only screen and (min-width: $desktop) {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        right: 20px;
        padding: 10px 12px;
        background: rgba(0,0,0,.3);
        border-radius: 6px;
        height: 60px;
        width: 60px;
        font-size: 2.5em;
        color: #fff;
        z-index: 100;

        &:hover {
            text-decoration: none;
            background: rgba(0,0,0,.5);
        }
    }
}

// FOOTER
footer{
    display: flex;
    position: static;
    bottom: 0;
    background-color: #101111;
    color: #fff;
    height: 130px;
    width: 100%;
    padding: 15px;
    letter-spacing: 2px;
    text-transform: uppercase; 
    @media only screen and (min-width: $desktop) {
        height: fit-content;
        font-size: 1.7em;
        flex-wrap: wrap;
        padding: 50px 15% 50px 15%;
        margin-top: 120px;
    }

    .copy{
        font-size: 0.7em;
        width: 40%;
        padding-right: 20px;
        font-weight: bold;
        font-family: $roboto;
        @media only screen and (min-width: $desktop) {
            font-size: 0.7em;
            width: 100%;
            text-align: center;
        }
    }

    .body{
        display: none;
        width: 100%;
        font-size: 0.55em;

        @media only screen and (min-width: $desktop) {
            display: flex;  
            justify-content: space-between;    
            align-items: center;     
        }

        .logo_section{
            width: 22.5%;
            line-height: 2;
            margin-right: 5%;

            .logo_title{
                display: flex;
                margin-bottom: 40px;
                font-family: $archivo;
                
                .logo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 25px;
                    background-color: $brown;
                    color: #fff;   
                    height: 80px;
                    margin-right: 20px;  
                    font-size: 2.5em;       
                    font-weight: bold;
                }

                .title{
                    font-size: 2em;
                    @media only screen and (min-width: $desktop) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        line-height: 1.4;
                    }

                    span{
                        display: block;
                        font-weight: bold;
                    }
                }
            }

            p{
                font-family: $archivo;
                @media only screen and (min-width: $desktop) {
                    font-size: 1em;
                }
            }
        }

        .services_section{        
            width: 50%;
            display: none;

            ul{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 25vh;
                width: 100%;

                li{
                    margin-bottom: 30px;

                    span{
                        margin-right: 5px;
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }

            .title{
                margin-bottom: 30px;
                font-size: 1.9em;
                text-transform: none;
            }
        }

        .contactUs_section{
            @media only screen and (min-width: $desktop) {
                width: 30%;
                padding-top: 70px; ;
            }

            & > .title{
                margin-bottom: 30px;
                font-size: 1.9em;
                text-transform: none;
                font-family: $oldStd;
            }

            .contacts{
                display: flex;       
                flex-direction: column;
                justify-content: space-between;        

                .contact{
                    display: flex;
                    margin-bottom: 50px;

                    .icon{
                        color: $brown;
                        font-size: 3em;
                        margin-right: 20px;
                    }

                    .info_container{
                        width: 100%;

                        .title{
                            margin: 0;
                            margin-bottom: 10px;
                            text-transform: none;
                            font-size: 1.4em;
                            font-family: $oldStd;
                            @media only screen and (min-width: $desktop) {
                                font-size: 1.6em;
                                font-weight: bold;
                            }
                        }

                        .info{
                            font-size: 1.2em;
                            text-transform: lowercase;
                            font-family: $roboto;
                            @media only screen and (min-width: $desktop) {
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }
        }

        
    }
    
    .rrss{
        display: flex;       
        width: 56%;
        font-size: 1.2em;
        @media only screen and (min-width: $desktop) {
            font-size: 2.5em;
            width: 15%;
        }

        div{
            display: flex;
            background-color: #212222;
            justify-content: center;
            align-items: center;
            margin-right: 1%;
            flex: 1;
            width: 20%;
            height: 40px;
            cursor: pointer;
            @media only screen and (min-width: $desktop) {
                height: 90px;
                font-size: 1.3em;
                border-radius: 6px;
            }

            &:hover{
                background-color: $brown;
            }            
        }
    }
}