@import "general_properties";

#about_us{
    .mainContent_header{
        display: flex;   
        // background-color: $grey_dark;
        background-image: url("../img/home2.jpg");
        background-size: cover;
        flex-flow: column;
        height: 400px;
        justify-content: space-between;
        color: #fff;
        padding-top: 13%;
        padding-bottom: 15%;
        padding-left: 7%;
        background-color: red;
        text-transform: capitalize;
        @media only screen and (min-width: $desktop) {
            height: 35vh;
            padding: 5% 10% 3% 10%;
        }
  
        .title{
           font-family: 'Old Standard TT', serif;
           background-color: #fff;
           color: $grey_dark;
           font-size: 2.2em;
           margin-bottom: 30px;
           padding: 2px;
           width: fit-content;
           @media only screen and (min-width: $desktop) {
                padding: 10px 15px;  
                font-size: 2rem;
                font-weight: bold;
            }   
        }
  
        .subtitle{
           letter-spacing: 2px;
           margin-bottom: 10px;
        }

        .buttons{
            button{
                &:nth-child(1){
                    @media only screen and (min-width: $desktop) {
                        margin-right: 20px;    
                    }        
                }
            }
        }
    }

    // MAIN CONTENT BODY 
    .mainContent_body{
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        @media only screen and (min-width: $desktop) {
            // width: 60vw;
            & > div, & > section{
               padding-left: 20vw;
               padding-right: 20vw;
               width: 100vw;
            }
         }

        // PRESENTATION
        .presentation{
            @media only screen and (min-width: $desktop) {
                margin-top: 60px;
                font-size: 1.3rem;
             }   
            
            .desc{
                text-align: center;
                font-family: 'Old Standard TT', serif;
                font-size: 1.3em;
                width: 90%;
                margin: 10px auto;
                background-color: #F7F8F8;
            }

            .video{
                width: 100%;
                min-height: 500px;
                @media only screen and (min-width: $desktop) {
                    height: 40vh;
                //    width: 48%;
                //    margin-right: 2%;
                } 
                
                iframe{
                   width: 100%;
                   height: 100%;
                }       
             }
        }// presentation

        // SERVICES
        .services{
            margin-top: 30px;
            margin-bottom: 30px;
            @media only screen and (min-width: $desktop) {
            margin-top: 120px;
            background-color: $black_std;
            padding-top: 30px;
            padding-bottom: 100px;
            width: 99.2vw;
            }

            .container_icons{
            display: flex;
            flex-wrap: wrap;
            @media only screen and (min-width: $desktop) {
                padding: 40px 12.5%;
                margin-left: auto;
                margin-right: auto;
                flex-wrap: nowrap;
                align-items: flex-start;
                justify-content: center;            
                font-size: .8em;
                padding: 90px 2%;
            }

            .container_icon{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 50%;
                padding: 20px;
                font-size: 1em;
                cursor: pointer;
                font-size: 1.5em;
                @media only screen and (min-width: $desktop) {
                    margin-right: 2%;
                    background-color: #fff;
                    padding: 50px 0;
                    border-radius: 8px;
                    font-size: 1.8em;
                    
                    &:hover{
                        box-shadow: 14px 11px 50px -4px rgba(255,255,255,0.47);
                    }
                    &:hover{
                        // box-shadow: none;
                        border-radius: 8px;
                    }

                    &:last-child{
                        margin-right: 0;
                    }

                    &.middle{
                        margin-top: 7.5%;
                    }

                    &.bottom{
                        margin-top: 15%;
                    }
                }

                .icon{
                    width: 60px;
                    height: 60px;
                    margin-bottom: 7.5px;
                    @media only screen and (min-width: $desktop) {
                        width: 90px;
                        height: 90px;
                        margin-bottom: 10px;
                    }
    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                &:hover{
                    background-color: $brown;
                    color: #fff;
                }

                
            }         
            }// container_icons

            .subtitle{
            font-size: 1.2em;
            letter-spacing: 1.5px;
            font-weight: bold;
            font-family: $archivo;

            @media only screen and (min-width: $desktop) {
                font-size: 1.6em;
                text-align: center;
                margin-bottom: 10px;             
                color: #fff;
            } 
            }

            .title{
            font-size: 1.5em;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 10px;
            font-family: $oldStd;

            @media only screen and (min-width: $desktop) {
                font-size: $main_titles_d;
                margin-bottom: 40px;
                margin: 0 50px 40px 50px;
                color: #fff;
            }
            }

            .core_features_title{
            text-align: center;
            font-size: 3.5em;         
            margin-bottom: 60px;
            display: none;
            font-family: $oldStd;

            @media only screen and (min-width: $desktop) {
                display: block;
                font-size: $main_titles_d;
                color: #fff;
            }
            }

            .core_features_subtitle{
            text-align: center;
            margin-top: 60px;
            font-family: $archivo;

            @media only screen and (min-width: $desktop) {
                display: block;
                font-size: $main_subtitles_d;
                color: #fff;
                margin-bottom: 10px;
            }
            }

            .container_offers{
            display: grid;
            width: 100%;    
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;color: #fff;

            .item{
                background-color: #fbf5f5;
                padding: 10px;      
                @media only screen and (min-width: $desktop) {
                    padding: 40px;
                    background-color: $grey_dark_2;             
                    font-size: 1.5em;
                }       

                .icon{
                    width: 40%;
                    margin-bottom: 10px; 
                    @media only screen and (min-width: $desktop) {
                        width: 30%;
                        margin-bottom: 30px; 
                    }   

                    img{
                        width: 100%;
                        height: 100%;
                    }

                    i{
                        font-size: 4.3em;
                    }
                }

                .title{
                    text-align: left;
                    font-size: .8em;
                    font-weight: bold;
                    color: $grey_dark;
                    font-family: $oldStd;

                    @media only screen and (min-width: $desktop) {
                        font-size: 1.4rem;
                        color: #fff;
                        margin: 10px 0;
                    }    
                }
                
                p{
                    text-align: justify;
                    font-size: 0.65em;
                    color: #111;
                    font-family: $archivo;

                    @media only screen and (min-width: $desktop) {
                        font-size: 1rem;
                        color: #fff;
                    }   

                }

                &.img{
                    &.img1{
                        background-image: url("../img/stairs.jpg");
                        background-size: cover;
                    }
                    &.img2{
                        background-image: url("../img/pool.jpg");
                        background-size: cover;
                    }
                    &.img3{
                        background-image: url("../img/yard.jpg");
                        background-size: cover;
                    }
                }
            }
            }// container_offers
        }// services

        // COUNTER
        .counter{
            margin-bottom: 20px;
            @media only screen and (min-width: $desktop) {
                margin-top: 100px;
            }   

            .head{
                padding-left: 10px;           

                .subtitle{
                    color: $grey;
                    letter-spacing: 2px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    font-size: .8em;
                    font-family: $archivo;
                    @media only screen and (min-width: $desktop) {
                        font-size: $main_subtitles_d;
                    }
                }
        
                .title{
                    font-size: 2em;
                    text-transform: capitalize;
                    margin-bottom: 15px;
                    font-family: 'Old Standard TT', serif;
                    font-size: 2em;
                    @media only screen and (min-width: $desktop) {
                        font-size: $main_titles_d;
                    }   
                }
            }  

            .facts{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.2em;
                @media only screen and (min-width: $desktop) {
                    flex-direction: row;
                    font-size: 2rem;
                    height: 100px;
                }  

                .fact{
                    display: flex;
                    width: 70%;
                    height: 100%;
                    border: 1px solid $brown;
                    justify-content: space-between;
                    padding: 5px 20px;
                    align-items: center;
                    margin: 5px;
                    background-color: #393939;
                    color: #fff;

                    .firstIcon{
                        color: $brown;
                        font-size: 1.3em;
                        width: 20%;
                        @media only screen and (min-width: $desktop) {
                            width: 30%;
                        }  
                    }

                    .text{
                        width: 60%;

                        .secondarytext{
                            font-size: 0.7em;
                        }

                        .mainText{
                            font-size: 1.6em;
                            font-weight: bold;
                        }                
                    }

                    .lastIcon{
                        color: $grey_light_2;
                        @media only screen and (min-width: $desktop) {
                            width: 20%;
                            font-size: 4.5rem;
                        }  
                    }
                }
            }
        }// counter

        // NEW FEEDS
        .new_feeds{
            margin-bottom: 30px;
            @media only screen and (min-width: $desktop) {
            margin-top: 120px;
            }

            .head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
            font-size: 1.5em;
            @media only screen and (min-width: $desktop) {
                font-size: 1.5em;
                padding: 0;
            }

            .arrows{
                display: flex;

                .arrow{
                    padding: 15px 20px;
                    font-size: 1em;
                    border: 1px solid $brown;
                    cursor: pointer;
                    @media only screen and (min-width: $desktop) {
                        width: 70px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &:first-child{
                        margin-right: 5px;
                    }

                    &:hover{
                        background-color: $brown;
                        border: none;
                        color: #fff;
                    }
                }
            }

            .subtitle{
                color: $grey;
                letter-spacing: 2px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 5px;
                font-size: 1em;
                font-family: $archivo;
                @media only screen and (min-width: $desktop) {
                    font-size: $main_subtitles_d;
                } 
            }
    
            .title{
                text-transform: capitalize;
                margin-bottom: 15px;
                font-family: $oldStd;
                font-size: 2em;     
                @media only screen and (min-width: $desktop) {
                    font-size: $main_titles_d;
                }  
            }
            }// head

            .body{
            display: flex;
            font-size: 1.4em;
            @media only screen and (min-width: $desktop) {
                font-size: 2.2em;
                justify-content: space-between;
            }

            .body_item{             
                margin-right: 1.5%;
                
                &.item1{
                    .feed_img{
                        background-image: url("../img/not_disturb.jpg");
                        background-size: cover;
                        height: 150px;
                        @media only screen and (min-width: $desktop) {
                        height: 30vh;
                        }
                    }
                }

                &.item2{
                    .feed_img{
                        background-image: url("../img/random_room1.jpg");
                        background-size: cover;
                        height: 150px;
                        @media only screen and (min-width: $desktop) {
                        height: 30vh;
                        }
                    }
                }

                &.item3{
                    .feed_img{
                        background-image: url("../img/random_room3.jpg");
                        background-size: cover;
                        height: 150px;
                        @media only screen and (min-width: $desktop) {
                        height: 30vh;
                        }
                    }
                }

                &:nth-child(3n) {
                    margin-right: 0;
                }

                .content{               
                    padding: 30px 10px;
                    @media only screen and (min-width: $desktop) {
                        margin-top: 10px;
                        padding-right: 30px;
                        font-size: 1.2em;
                    }

                    .subtitle{
                        display: flex;
                        justify-content: space-between;
                        font-size: .6em;
                        margin-bottom: 15px;
                        font-family: $archivo;
                        @media only screen and (min-width: $desktop) {
                        margin-bottom: 25px;
                        }
                    }

                    .title{
                        font-size: .85em;
                        font-weight: bold;
                        font-family: $oldStd;
                        margin-bottom: 15px;    
                        font-family: $oldStd;
                        @media only screen and (min-width: $desktop) {
                        margin-bottom: 15px;
                        font-size: 0.9;
                        }          
                    }

                    p{
                        font-family: $archivo;
                        font-size: .5em;
                        @media only screen and (min-width: $desktop) {
                        font-size: 1rem;
                        }  
                    }
                }
            }
            }
        }// new feeds
    }
}