@import "general_properties.scss";

#contact {

    .mainContent{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media only screen and (min-width: $desktop) {
            display: flex;
            flex-direction: column;

            & > div, & > section{
                padding-left: 20vw;
                padding-right: 20vw;
                width: 100vw;
             }
        }

    
        // MAIN CONTENT HEADER
        .mainContent_header{
            margin-bottom: 30px;
            position: relative;
            display: flex;   
            background-image: url("../img/champaigne.jpg");
            background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../img/champaigne.jpg");
            background-size: cover;
            flex-flow: column;
            height: 175px;
            justify-content: space-between;
            color: #fff;
            padding-top: 13%;
            padding-bottom: 15%;
            padding-left: 5%;
            text-transform: capitalize;
            z-index: 1;
            @media only screen and (min-width: $desktop) {
                height: 35vh;
                padding: 5% 10% 3% 10%;
                font-size: 1.7em;
                margin: 0;
                margin-bottom:60px;
            }

            .banner{
                height: 100%;
                display: flex;
                align-items: center;

                .titles{
                    z-index: 3;
                    color: #fff;
        
                    .title h1{
                        font-family: 'Old Standard TT', serif;
                        font-size: 2.6em;
                        padding: 2px;
                        width: fit-content;
                        font-weight: normal;
                    }
            
                    .subtitle{
                        letter-spacing: 2px;
                        margin-bottom: 10px;
                    }
                }
            }
        }// mainContent_header

        // USER CONTACT FORM
        #userContactForm{
            font-family: $archivo;

            @media only screen and (min-width: $desktop) {
                display: flex;
                flex-wrap: wrap;
                font-size: 1.8em;
                padding: 60px 5%;
                margin-top: 60px;
                margin-left: auto;
                margin-right: auto;
                border: 2px solid $brown;
            }

            .input-container {
                display: flex;
                align-items: center;
                margin: 20px 0;   
                @media only screen and (min-width: $desktop) {
                    flex-wrap: wrap;
                    width: 50%;
                }         
                
                .input-field, .select-field {
                    border: none;
                    width: 80%;
                    padding: 25px 60px 25px 85px;
                    margin: auto;
                    height: 3em;
                    background-color: rgba(236, 231, 231, 0.822);
                    color: rgb(99, 100, 102);
                    font-size: 0.8em;
                    @media only screen and (min-width: $desktop) {
                        width: 95%;
                    }   

                    &:focus{
                        outline: none;
                    }
                }

                .select-field{
                    padding: 0 60px 0 85px;
                    height: 50px;
                }

                .input_icon{
                    // width: 20%;
                    margin-right: 20px;
                    position: absolute;
                    left: 65px;
                    color: rgb(211, 183, 150);
                    z-index: 10;
                    @media only screen and (min-width: $desktop) {
                        left: 8%;
                        z-index: 10;
                    }
                }
            }

            .textarea-container {
                display: flex;
                margin: 20px 0 30px 0;
                @media only screen and (min-width: $desktop) {
                    width: 100%;
                    height: 25vh;
                }
                
                textarea{
                    padding-left: 90px;                
                    padding-right: 20px;
                    @media only screen and (min-width: $desktop) {
                        width: 97.5%;
                        height: 100%;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                }

                .textarea_icon {
                    // width: 20%;
                    margin-right: 20px;
                    margin-top: 3px;
                    position: absolute;
                    left: 65px;
                    margin-top: 10px;
                    color: rgb(211, 183, 150);
                    z-index: 10;
                    @media only screen and (min-width: $desktop) {
                        left: 4%;
                    }
                }
            }    

            .textArea {
                background-color: rgba(236, 231, 231, 0.822);
                color: #636466;
                margin: auto;
                width: 80%;
                padding-left: 60px;
                padding-top: 10px;
                border: none;
                resize: none;
                font-size: 0.8em;
                font-family: "Lucida Sans", sans-serif;

                &:focus{
                    outline: none;
                }
            }
            
            button{
                display: block;
                margin-left: auto;
                margin-right: auto;
                @media only screen and (min-width: $desktop) {
                    font-size: 1.5rem;
                }
            }

        }// userContactForm

        // CONTACT DETAILS
        .contact_details{
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            @media only screen and (min-width: $desktop) {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            &.desktop{
                display: none;

                @media only screen and (min-width: $desktop) {          
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }

            &.noDesktop{

                @media only screen and (min-width: $desktop) {
                    display: none;
                }
            }

            .details {
                display: grid;
                grid-template-columns: 20% 75%;
                margin: 15px 30px 30px 30px;
                text-align: left;
                @media only screen and (min-width: $desktop) {
                    width: 30%;
                    margin: 60px 0; 
                    padding-left: 15px;
                }

                .icon-grid {
                    font-size: 1.7em;
                    color: rgb(211, 183, 150);
                    margin-top: 10px;
                    @media only screen and (min-width: $desktop) {
                        font-size: 2.2rem;
                    }
                }

                .text-grid{
                    margin-top: 10px;

                    .title{
                        font-size: 1.6em;
                        font-family: 'Old Standard TT', serif;
                        margin-bottom: 5px;
                        font-family: $oldStd;
                        @media only screen and (min-width: $desktop) {
                            font-size: 2rem;
                        }
                    }

                    .info{
                        font-size: 1.1em;
                        font-family: $roboto;
                        @media only screen and (min-width: $desktop) {
                            font-size: 1rem;
                        }

                        p{
                            &:first-of-type{
                                margin-bottom: 10px;
                            }
                
                        }
                    }
                }
            }
        }// contact details

        // MAP
        .map {
            width: 100%;
            height: 300px;
            margin: 0 auto 20px auto;
            @media only screen and (min-width: $desktop) {
                display: none;
                height: 65vh;
                margin: 0;
                padding-left: 20.5vw;
            }

            &.desktop{
                display: none;
                @media only screen and (min-width: $desktop) {
                    display: flex;
                }
            }
            
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
}




