@import "general_properties";

// MAIN CONTENT
#home{
   z-index: 1;
   
   .mainContent_header{
      display: flex;
      // background-color: $grey_dark;
      // background-image: url("../img/home2.jpg");
      background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)) , url("../img/home2.jpg");
      background-size: cover;
      flex-flow: column;
      height: 400px;
      justify-content: space-between;
      color: #fff;
      padding-top: 5%;
      padding-bottom: 15%;
      padding-left: 7%;
      text-transform: capitalize;
      @media only screen and (min-width: $desktop) {
         justify-content: center;
         align-items: center;
         height: 80vh;
      }

      .title{
         font-family: 'Old Standard TT', serif;
         background-color: #fff;
         color: $grey_dark;
         font-size: 2.2em;
         margin-bottom: 30px;
         padding: 2px;
         width: fit-content;
         @media only screen and (min-width: $desktop) {
            color: #fff;
            background-color: transparent;
            font-size: 8em;
            line-height: 1;
            margin-bottom: 30px;
            text-align: center;
         }
      }

      .subtitle{
         letter-spacing: 2px;
         margin-bottom: 10px;
         display: none;
         @media only screen and (min-width: $desktop) {
            display: block;
            font-size: 1.5em;
         }
      }

      button:nth-of-type(1){

         @media only screen and (min-width: $desktop) {
            margin-right: 20px;
         }       
      }
   }

   .mainContent_body{
      width: 100vw;
      margin-left: auto;
      margin-right: auto;
      @media only screen and (min-width: $desktop) {
         width: 70vw;
      }

      .form_availability{
         display: flex;
         position: relative;
         flex-wrap: wrap;
         justify-content: center;
         width: 100%;      
         padding: 25px;
         margin-bottom: 30px;
         @media only screen and (min-width: $desktop) {
            padding: 10px 35px;
            margin-top: -72.5px;
            height: 145px;
            background-color: #fff;
            align-items: center;
            justify-content: space-between;
            width: 70vw;
            margin-left: auto;
            margin-right: auto;
         }

         .form_control{
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media only screen and (min-width: $desktop) {
               display: block;
            }

            .label{
               font-weight: bold;
               @media only screen and (min-width: $desktop) {
                  font-size: 1.5em;
                  margin-bottom: 20px;
               }
            }
                     
            .date{
               text-align: center;
               font-size: 4em;
               width: 100%;            
            }

            input{
               border: none;
               border-bottom: 3px solid $brown;
               padding: 0 0 8px 2px;

               @media only screen and (min-width: $desktop) {
                  font-size: 1.5em;
               }

               &:active{
                  border: none;
                  border-bottom: 3px solid $brown;
               }
               &:focus{
                  outline: none;
                  border: none;
                  border-bottom: 3px solid $brown;
               }
            }        
         }

         button{
            margin-top: 20px;
         }
      }

      // TOUR
      .tour{
         display: flex;
         flex-wrap: wrap;  
         @media only screen and (min-width: $desktop) {
            flex-direction: row-reverse;
            margin-top: 120px;
         }         
   
         .video{
            width: 100%;
            min-height: 300px;
            @media only screen and (min-width: $desktop) {
               width: 48%;
               margin-right: 2%;
            } 
            
            iframe{
               width: 100%;
               height: 100%;
            }       
         }
   
         .info{
            padding: 5px;
            margin-top: 15px;
            @media only screen and (min-width: $desktop) {
               width: 50%;
               font-size: 1.5em;
            } 
            
            .subtitle{
               font-weight: bold;
               font-size: 1em;
               margin-bottom: 10px;
               letter-spacing: 1px;
               text-transform: uppercase;
            }
   
            .title{
               font-size: 1.75em;
               text-transform: capitalize;
               margin-bottom: 20px;
               font-family: 'Old Standard TT', serif;
            }
   
            p{
               line-height: 1.4;
               margin-bottom: 15px;
            }

            button{
               display: none;
               @media only screen and (min-width: $desktop) {
                  display: block;
                  font-size: 1.2em;
                  margin-top: 40px;
               } 
            }
         }
      }

      // SERVICES
      .services{
         margin-top: 30px;
         margin-bottom: 30px;
         @media only screen and (min-width: $desktop) {
            margin-top: 120px;
         }

         .container_icons{
            display: flex;
            flex-wrap: wrap;
            @media only screen and (min-width: $desktop) {
               padding: 40px 12.5%;
               margin-left: auto;
               margin-right: auto;
               flex-wrap: nowrap;
               align-items: flex-start;
               background-color: $grey;
               font-size: .8em;
            }

            .container_icon{
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               width: 50%;
               padding: 20px;
               font-size: 1em;
               cursor: pointer;
               font-size: 1.5em;
               @media only screen and (min-width: $desktop) {
                  margin-right: 4%;
                  background-color: #fff;
                  border-radius: 8px;
                  
                  &:hover{
                     box-shadow: 14px 11px 50px -4px rgba(255,255,255,0.47);
                  }
                  &:hover{
                     // box-shadow: none;
                     border-radius: 8px;
                  }

                  &last-child{
                     margin-right: 0;
                  }

                  &.middle{
                     margin-top: 7.5%;
                  }

                  &.bottom{
                     margin-top: 15%;
                  }
               }

               .icon{
                  width: 60px;
                  height: 60px;
                  margin-bottom: 7.5px;
                  @media only screen and (min-width: $desktop) {
                     width: 90px;
                     height: 90px;
                  }
   
                  img{
                     width: 100%;
                     height: 100%;
                  }
               }

               &:hover{
                  background-color: $brown;
                  color: #fff;
               }

               
            }         
         }// container_icons

         .subtitle{
            font-size: 1.2em;
            letter-spacing: 1.5px;
            font-weight: bold;
         }

         .title{
            font-size: 1.5em;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 10px;
            @media only screen and (min-width: $desktop) {
               font-size: 2em;
            }
         }

         .core_features_title{
            text-align: center;
            font-size: 3.5em;
            margin-top: 60px;
            margin-bottom: 60px;
            display: none;
            @media only screen and (min-width: $desktop) {
               display: block;
            }
         }

         .container_offers{
            display: grid;
            width: 100%;    
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2px;color: #fff;
            @media only screen and (min-width: $desktop) {
               height: 70vh;
            }

            .item{
               background-color: #fbf5f5;
               // background-color: $grey_dark;
               padding: 10px;      
               @media only screen and (min-width: $desktop) {
                  padding: 40px;
                  background-color: $grey;             
                  font-size: 1.5em;
               }       

               .icon{
                  width: 40%;
                  margin-bottom: 10px; 
                  @media only screen and (min-width: $desktop) {
                     width: 30%;
                     margin-bottom: 60px; 
                  }   

                  img{
                     width: 100%;
                     height: 100%;
                  }
               }

               .title{
                  text-align: left;
                  font-size: .8em;
                  font-weight: bold;
                  color: $grey_dark;
                  @media only screen and (min-width: $desktop) {
                     font-size: 1.3em;
                     color: #fff;
                  }    
               }
               
               p{
                  text-align: justify;
                  font-size: 0.65em;
                  color: #111;
                  @media only screen and (min-width: $desktop) {
                     font-size: 0.8em;
                     color: #fff;
                  }   

               }

               &.img{
                  &.img1{
                     background-image: url("../img/stairs.jpg");
                     background-size: cover;
                  }
                  &.img2{
                     background-image: url("../img/pool.jpg");
                     background-size: cover;
                  }
                  &.img3{
                     background-image: url("../img/yard.jpg");
                     background-size: cover;
                  }
               }
            }
         }// container_offers
      }// services

      // CARROUSEL
      .carrousel{
         display: grid;
         grid-template: repeat(4, 20px) / 1fr;

         .back{
            border: 1px solid red;
            
            display: flex;

            img{
               width: 100%;
               height: 100%;
            }
         }

         .top{
            border: 1px solid green;
         }
      }// carrousel

      // ROOM TYPE
      .room_type{
         margin-bottom: 30px;       
         @media only screen and (min-width: $desktop) {
            margin-top: 150px;
         }

         .subtitle{
            font-size: 1em;
            letter-spacing: 1.5px;
            font-weight: bold;
            color: $grey;
            margin-bottom: 5px;
            text-transform: uppercase;
         }

         .title{
            font-size: 2em;
            text-transform: capitalize;
            margin-bottom: 15px;
            font-family: 'Old Standard TT', serif;
            @media only screen and (min-width: $desktop) {
               font-size: 2.5em;
            }
         }

         ul{
            display: flex;
            list-style-type: none;
            margin-bottom: 10px;
            @media only screen and (min-width: $desktop) {
               font-size: 1.8em;
            }
            
            &>*{
               flex-basis: 100%;
            }

            li{
               font-size: 0.9em;
               text-align: center;
               padding: 8px 4px;
               font-weight: bold;
               color: $grey_light;
               border: 2px solid transparent;
               cursor: pointer;

               &:hover{
                  border: 2px solid $grey_light;
                  color: #111;
               }
            }
         }

         .room_grid{
            display: grid;
            width: 100%;
            height: 500px;
            grid-template: 2fr 1fr / 1fr 1fr;
            @media only screen and (min-width: $desktop) {
               height: 70vh;
               font-size: 1.7em;
            }

            .room{
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               justify-content: flex-end;
               padding: 0 14px;          
               color: #fff;    
               text-shadow: 2px 2px rgb(122, 122, 122);

               &.junior{
                  background-image: url("../img/hotel_chair.jpg");
                  background-size: cover;
               }

               &.hallFame{
                  background-image: url("../img/hall_of_fame.jpg");
                  background-size: cover;
                  background-position: center;
               }

               &:last-child{
                  grid-column: 1 / span 3;
               }

               .subtitle{
                  margin-bottom: 6px;
                  font-size: 0.6em;
                  color: #fff;
               }

               .title{
                  font-family: 'Old Standard TT', serif;
                  font-size: 1.4em;
               }

            }
         }
      }// room_type

      // CALL ACTION
      .call_action{
         margin-bottom: 30px;
         @media only screen and (min-width: $desktop) {
            margin-top: 120px;
         }

         .subtitle{
            font-size: 0.9em;
            letter-spacing: 2px;
            color: $grey;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 5px;
         }

         .title{
            font-size: 2em;
            font-family: 'Old Standard TT', serif;
            margin-bottom: 10px;
            @media only screen and (min-width: $desktop) {
               font-size: 3em;
            }
         }

         .header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .desc{
               font-size: 0.9em;
               color: $brown;
               font-weight: bold;
               flex-basis: 60%;
               @media only screen and (min-width: $desktop) {
                  font-size: 1.3em;
               }
            }

            .btn{
               font-size: 0.7em;
               flex-basis: 37%;

               button{
                  width: 100%;
                  @media only screen and (min-width: $desktop) {
                     &:hover{
                        background-color: $grey;
                     }
                  }
               }
            }
         }

         .actions_grid{
            display: grid;
            grid-template: repeat(3, 1fr) / 24% 74%;
            gap: 2%;
            @media only screen and (min-width: $desktop) {
               grid-template: repeat(3, 1fr) / 24% 74%;
            }

            .container_icon{
               display: flex;
               align-items: center;
               justify-content: center;
            
               .icon{
                  height: 70px;
                  width: 70px;   
                  padding: 15px;
                  border: 1px solid rgb(228, 226, 226);  
                  border-radius: 50%;
                  cursor: pointer;
                  @media only screen and (min-width: $desktop) {
                     height: 180px;
                     width: 180px;   
                     padding: 30px;
                     margin-bottom: 20px;
                  }       
                  
                  &:hover{
                     background-color: $brown;
                  }
      
                  img{
                     width: 100%;
                     height: 100%;
                  }
               }
            }

            p{
               font-size: 0.8em;
               @media only screen and (min-width: $desktop) {
                  font-size: 1.2em;
               }  
            }

            .title{
               font-size: 1.5em;
               margin-bottom: 5px;
               @media only screen and (min-width: $desktop) {
                  font-size: 2em;
               }  
            }
         }
         
         .footer_bar{
            width: 80%;
            height: 10px;
            background-color: $brown;
            margin: 20px auto 0 auto;
         }
      }// call_action
      
   // TESTIMONIALS
   .testimonials{
      margin-bottom: 30px;     
      @media only screen and (min-width: $desktop) {
         margin-top: 120px;
      }  

      .head{
         padding-left: 10px;

         .subtitle{
            color: $grey;
            letter-spacing: 2px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-size: 1em;
         }

         .title{
            font-size: 2em;
            text-transform: capitalize;
            margin-bottom: 15px;
            font-family: 'Old Standard TT', serif;
            font-size: 2.5em;
            @media only screen and (min-width: $desktop) {
               font-size: 3em;
            }  
         }        
      }

      .client_cards{        
         display: flex;
         justify-content: space-around;
         margin-bottom: 10px;
         @media only screen and (min-width: $desktop) {
            font-size: 1.8em;
         }  

         .client_card{
            display: flex;
            flex-direction: column;
            align-items: center;  
            justify-content: space-between;    
            border: 1px solid $brown;
            padding: 10px;
            width: 49%;  
            @media only screen and (min-width: $desktop) {
                  font-size: 1.2em;
                  z-index: 2;
            }    

            .img_container{
               border-radius: 50%;
               width: 50%;
               position: relative;
               margin-bottom: 20px;
               // height: 40px;

               img{
               border-radius: 50%;
               width: 100%;
               height: 100%;
               }

               .check{
                  color: #fff;
                  border-radius: 50%;
                  font-size: .6em;
                  border: 2px solid #fff;
                  padding: 8px;
                  background-color: $brown;
                  position: absolute;
                  top: 0;
                  right: 2%;
                  z-index: 10;
                  @media only screen and (min-width: $desktop) {
                     font-size: .9em;
                     top: 5%;
                     right: 5%;
                  }  
               }        
            }

            .name{
                  font-size: 1.1em;
                  font-family: 'Old Standard TT', serif;
                  margin-bottom: 5px;
            }

            .role{
                  color: $brown;
                  letter-spacing: 2px;
                  font-weight: bold;
                  font-size: .8em;
                  margin-bottom: 15px;
                  @media only screen and (min-width: $desktop) {
                  font-size: .7em;
                  } 
            }

            p{
                  font-size: .7em;
                  text-align: center;
                  @media only screen and (min-width: $desktop) {
                     font-size: .6em;
                  }   
            }
         }
      }

      .info{
         background-image: url("../img/hotel_view.jpg");
         background-size: cover;
         color: #fff;
         padding: 5px 15px;
         text-align: center;
         font-weight: bold;
         padding: 10px;
         font-size: 1.3em;
         text-shadow: 2px 2px #474545;
         line-height: 1.4;
         font-family: 'Old Standard TT', serif;
         @media only screen and (min-width: $desktop) {
            margin-top: 20px;
            padding: 75px 20%;
            letter-spacing: 2px;
            font-size: 2.5em;
         }  
      }
   }// testimonials

      // NEW FEEDS
      .new_feeds{
         margin-bottom: 30px;
         @media only screen and (min-width: $desktop) {
            margin-top: 120px;
         }

         .head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
            font-size: 1.5em;
            @media only screen and (min-width: $desktop) {
               font-size: 1.5em;
            }

            .arrows{
               display: flex;

               .arrow{
                  padding: 15px 20px;
                  font-size: 1em;
                  border: 1px solid $brown;
                  cursor: pointer;
                  @media only screen and (min-width: $desktop) {
                     width: 100px;
                     height: 80px;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                  }

                  &:first-child{
                     margin-right: 5px;
                  }

                  &:hover{
                     background-color: $brown;
                     border: none;
                     color: #fff;
                  }
               }
            }

            .subtitle{
               color: $grey;
               letter-spacing: 2px;
               font-weight: bold;
               text-transform: uppercase;
               margin-bottom: 5px;
               font-size: 1em;
            }
   
            .title{
               font-size: 2em;
               text-transform: capitalize;
               margin-bottom: 15px;
               font-family: 'Old Standard TT', serif;
               font-size: 2em;     
               @media only screen and (min-width: $desktop) {
                  font-size: 2.5em;
               }  
            }
         }// head

         .body{
            display: flex;
            font-size: 1.4em;
            @media only screen and (min-width: $desktop) {
               font-size: 2.2em;
            }

            .body_item{
               
               &.item1{
                  .feed_img{
                     background-image: url("../img/not_disturb.jpg");
                     background-size: cover;
                     height: 150px;
                     @media only screen and (min-width: $desktop) {
                        height: 30vh;
                     }
                  }
               }

               &.item2{
                  .feed_img{
                     background-image: url("../img/random_room1.jpg");
                     background-size: cover;
                     height: 150px;
                     @media only screen and (min-width: $desktop) {
                        height: 30vh;
                     }
                  }
               }

               .content{               
                  padding: 30px 10px;
                  @media only screen and (min-width: $desktop) {
                     margin-top: 10px;
                     padding-right: 30px;
                  }

                  .subtitle{
                     display: flex;
                     justify-content: space-between;
                     font-size: .6em;
                     margin-bottom: 15px;
                     @media only screen and (min-width: $desktop) {
                        margin-bottom: 25px;
                     }
                  }

                  .title{
                     font-size: .85em;
                     font-weight: bold;
                     font-family: 'Old Standard TT', serif;
                     margin-bottom: 15px;    
                     @media only screen and (min-width: $desktop) {
                        margin-bottom: 15px;
                        font-size: 0.9;
                     }          
                  }
 
                  p{
                     font-size: .5em;
                  }
               }
            }
         }
      }// new feeds
   }// mainContent_body

   
}

