@import "_general_properties";

#room_grid{

   .mainContent_header{
      display: flex;   
      // background-color: $grey_dark;
      background-image: url("../img/home2.jpg");
      background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../img/home2.jpg");
      background-size: cover;
      flex-flow: column;
      height: 175px;
      justify-content: space-between;
      color: #fff;
      padding-top: 13%;
      padding-bottom: 15%;
      background-color: #111;
      padding-left: 7%;
      text-transform: capitalize;
      margin-bottom: 30px;

      .title{
         font-family: 'Old Standard TT', serif;
         // background-color: #fff;
         color: $grey_dark;

         color: #fff;

         font-size: 2.4em;
         margin-bottom: 30px;
         padding: 2px;
         width: fit-content;
      }

      .subtitle{
         font-size: 0.8em;
         letter-spacing: 2px;
         margin-bottom: 5px;
      }

   }

   .rooms{

      .room{
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         margin-bottom: 20px;

         .room_img{
            height: 225px;
            width: 100%;
            background-size: cover;           
         }

         &:nth-child(1){
            .room_img{
               background-image: url("../img/random_room1.jpg");
            }    
         }

         &:nth-child(2){
            .room_img{
               background-image: url("../img/random_room2.jpg");
            }   
         }

         .room_body{
            width: 65%;

            .icon_list{

               ul{
                  width: 85%;
                  display: flex;
                  justify-content: space-between;
                  padding: 6px 15px;
                  box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.5);
                  color: $grey;
                  font-size: 0.8em;
               }
            }

            .body_info{
               padding: 10px;

               .title{
                  font-size: 1.1em;
                  font-family: 'Old Standard TT', serif;
                  margin: 10px 0;
               }

               p{
                  text-align: justify;
                  font-size: 0.7em;
               }
            }
            
         }

         .extra_info{
            width: 34%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: auto;
            padding: 40px 10px 0 10px;
            
            .price{
               color: $brown;
               font-size: 1.2em;
               font-weight: bold;

               span{
                  font-size: 0.6em;
               }
            }

            .hl{
               height: 1px;
               background-color: $grey_light_2;
               width: 35%;
               margin-top: 10px;
               margin-bottom: 10px;
            }

            .booking{
               font-size: 0.7em;
               font-weight: bold;
               color: $grey_light;
            }
         }
      }
   }
}